@model routine_explorer.Models.Audit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Audit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaAccessed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaAccessed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionDateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
