@model routine_explorer.Models.Feedback

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Feedback</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Suggestion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Suggestion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
