@model routine_explorer.Models.Routine

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Routine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayOfWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayOfWeek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeRange)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
