@model IEnumerable<routine_explorer.Models.Routine>

@{
    ViewData["Title"] = "Index";
}


@{
    string[] timeStamp = new string[6];
    if(ViewBag.arabicMonth == "Ramadan"){
        timeStamp[0] = "9:30-10:30"; timeStamp[1] = "10:30-11:30"; timeStamp[2] = "11:30-12:30";
        timeStamp[3] = "12:30-01:30"; timeStamp[4] = "02:00-03:00"; timeStamp[5] = "03:00-04:00";
    }
    if(ViewBag.arabicMonth == "Other" || ViewBag.arabicMonth == ""){
        timeStamp[0] = "08:30-10:00"; timeStamp[1] = "10:00-11:30"; timeStamp[2] = "11:30-01:00";
        timeStamp[3] = "01:00-02:30"; timeStamp[4] = "02:30-04:00"; timeStamp[5] = "04:00-05:30";
    }

    string[] courseString = new string[36];
    @foreach (var item in Model)
    {
        if(item.DayOfWeek == "Saturday" && item.TimeRange == "08:30-10:00"){courseString[0] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}
        if(item.DayOfWeek == "Saturday" && item.TimeRange == "10:00-11:30"){courseString[1] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}
        if(item.DayOfWeek == "Saturday" && item.TimeRange == "11:30-01:00"){courseString[2] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}
        if(item.DayOfWeek == "Saturday" && item.TimeRange == "01:00-02:30"){courseString[3] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}
        if(item.DayOfWeek == "Saturday" && item.TimeRange == "02:30-04:00"){courseString[4] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}
        if(item.DayOfWeek == "Saturday" && item.TimeRange == "04:00-05:30"){courseString[5] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}

        if(item.DayOfWeek == "Sunday" && item.TimeRange == "08:30-10:00"){courseString[6] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}
        if(item.DayOfWeek == "Sunday" && item.TimeRange == "10:00-11:30"){courseString[7] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}
        if(item.DayOfWeek == "Sunday" && item.TimeRange == "11:30-01:00"){courseString[8] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}
        if(item.DayOfWeek == "Sunday" && item.TimeRange == "01:00-02:30"){courseString[9] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}
        if(item.DayOfWeek == "Sunday" && item.TimeRange == "02:30-04:00"){courseString[10] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}
        if(item.DayOfWeek == "Sunday" && item.TimeRange == "04:00-05:30"){courseString[11] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}

        if(item.DayOfWeek == "Monday" && item.TimeRange == "08:30-10:00"){courseString[12] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}
        if(item.DayOfWeek == "Monday" && item.TimeRange == "10:00-11:30"){courseString[13] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}
        if(item.DayOfWeek == "Monday" && item.TimeRange == "11:30-01:00"){courseString[14] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}
        if(item.DayOfWeek == "Monday" && item.TimeRange == "01:00-02:30"){courseString[15] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}
        if(item.DayOfWeek == "Monday" && item.TimeRange == "02:30-04:00"){courseString[16] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}
        if(item.DayOfWeek == "Monday" && item.TimeRange == "04:00-05:30"){courseString[17] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}

        if(item.DayOfWeek == "Tuesday" && item.TimeRange == "08:30-10:00"){courseString[18] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}
        if(item.DayOfWeek == "Tuesday" && item.TimeRange == "10:00-11:30"){courseString[19] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}
        if(item.DayOfWeek == "Tuesday" && item.TimeRange == "11:30-01:00"){courseString[20] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}
        if(item.DayOfWeek == "Tuesday" && item.TimeRange == "01:00-02:30"){courseString[21] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}
        if(item.DayOfWeek == "Tuesday" && item.TimeRange == "02:30-04:00"){courseString[22] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}
        if(item.DayOfWeek == "Tuesday" && item.TimeRange == "04:00-05:30"){courseString[23] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}

        if(item.DayOfWeek == "Wednesday" && item.TimeRange == "08:30-10:00"){courseString[24] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}
        if(item.DayOfWeek == "Wednesday" && item.TimeRange == "10:00-11:30"){courseString[25] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}
        if(item.DayOfWeek == "Wednesday" && item.TimeRange == "11:30-01:00"){courseString[26] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}
        if(item.DayOfWeek == "Wednesday" && item.TimeRange == "01:00-02:30"){courseString[27] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}
        if(item.DayOfWeek == "Wednesday" && item.TimeRange == "02:30-04:00"){courseString[28] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}
        if(item.DayOfWeek == "Wednesday" && item.TimeRange == "04:00-05:30"){courseString[29] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}

        if(item.DayOfWeek == "Thursday" && item.TimeRange == "08:30-10:00"){courseString[30] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}
        if(item.DayOfWeek == "Thursday" && item.TimeRange == "10:00-11:30"){courseString[31] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}
        if(item.DayOfWeek == "Thursday" && item.TimeRange == "11:30-01:00"){courseString[32] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}
        if(item.DayOfWeek == "Thursday" && item.TimeRange == "01:00-02:30"){courseString[33] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}
        if(item.DayOfWeek == "Thursday" && item.TimeRange == "02:30-04:00"){courseString[34] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}
        if(item.DayOfWeek == "Thursday" && item.TimeRange == "04:00-05:30"){courseString[35] = item.CourseCode+"\n"+"("+item.RoomNumber+")\n";}

    }
}
<div class="table-responsive container" id="HTMLtoPDF">
<table class="table">
    <thead>
        <tr>
            <th class="bg-primary text-white">Day/Time</th>
            <th class="bg-dark text-white">@timeStamp[0]</th>
            <th class="bg-dark text-white">@timeStamp[1]</th>
            <th class="bg-dark text-white">@timeStamp[2]</th>
            <th class="bg-dark text-white">@timeStamp[3]</th>
            <th class="bg-dark text-white">@timeStamp[4]</th>
            <th class="bg-dark text-white">@timeStamp[5]</th>
        </tr>

        <tbody>
            <tr>
                <td class="bg-dark text-white">Saturday</td>
                <td>@courseString[0]</td>
                <td>@courseString[1]</td>
                <td>@courseString[2]</td>
                <td>@courseString[3]</td>
                <td>@courseString[4]</td>
                <td>@courseString[5]</td>
            </tr>

            <tr>
                <td class="bg-dark text-white">Sunday</td>
                <td>@courseString[6]</td>
                <td>@courseString[7]</td>
                <td>@courseString[8]</td>
                <td>@courseString[9]</td>
                <td>@courseString[10]</td>
                <td>@courseString[11]</td>
            </tr>

            <tr>
                <td class="bg-dark text-white">Monday</td>
                <td>@courseString[12]</td>
                <td>@courseString[13]</td>
                <td>@courseString[14]</td>
                <td>@courseString[15]</td>
                <td>@courseString[16]</td>
                <td>@courseString[17]</td>
            </tr>

            <tr>
                <td class="bg-dark text-white">Tuesday</td>
                <td>@courseString[18]</td>
                <td>@courseString[19]</td>
                <td>@courseString[20]</td>
                <td>@courseString[21]</td>
                <td>@courseString[22]</td>
                <td>@courseString[23]</td>
            </tr>

            <tr>
                <td class="bg-dark text-white">Wednesday</td>
                <td>@courseString[24]</td>
                <td>@courseString[25]</td>
                <td>@courseString[26]</td>
                <td>@courseString[27]</td>
                <td>@courseString[28]</td>
                <td>@courseString[29]</td>
            </tr>

            <tr>
                <td class="bg-dark text-white">Thursday</td>
                <td>@courseString[30]</td>
                <td>@courseString[31]</td>
                <td>@courseString[32]</td>
                <td>@courseString[33]</td>
                <td>@courseString[34]</td>
                <td>@courseString[35]</td>
            </tr>
        </tbody>

    </thead>
</table>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <a href="javascript: genPDF()"><button type="button" class="btn btn-success">
        <i class="fas fa-file-download"></i> Download</button></a> 
    </div>
</div>
